@import "../colors";
@import "../utilities/units";
@import "../utilities/breakpoints";

button {
  padding: $unit200 $unit300;
  border-radius: $unit100 / 4;
  font-size: 1rem;

  .button-primary {
    background-color: white;
    color: black;
  }

  .button-secondary {
    background-color: black;
    color: white;
  }

  .button-danger {
    background-color: red;
    color: white;
  }

  .button-small {
    padding: 10px $unit200 !important;
    font-size: 16px !important;
  }
}
