// ===
// TYPOGRAPHY
// ===

// FONT FACES

// @font-face {
//   font-family: [], sans-serif;
//   font-weight: (normal, bold, bolder);
//   font-style: (normal, oblique);
//   src: url(./fonts/.eot) format(eot),
//   url(./fonts/.woff) format(woff),
//   url(./fonts/.woff2) format(woff2),
//   local() format(ttf)
// }

// VARIABLES
// - Weights
$font-weight_hair: 100;
$font-weight_thin: 200;
$font-weight_light: 300;
$font-weight_normal: 400;
$font-weight_medium: 500;
$font-weight_semibold: 600;
$font-weight_bold: 700;
$font-weight_heavy: 800;
$font-weight_dank: 900;

// - Font families
$font_substitute: "Helvetica";

// - Sizes
$font-size_display: 5.6rem;
$font-size_title: 4.2rem;
$font-size_heading-large: 3.2rem;
$font-size_heading-normal: 2.7rem;
$font-size_heading-small: 2.2rem;
$font-size_heading-tiny: 1.7rem;
$font-size_lead: 1.3rem;
$font-size_main: 1rem;
$font-size_small: 0.7rem;

// SIZES
html {
  font-size: 100%;
}

body {
  font-size: 1.25em; // 1rem = 20px
}

h1 {
  font-family: $font_substitute;
  font-weight: $font-weight_normal;
  font-size: $font-size_title;

  .display {
    font-weight: $font-weight_normal;
    font-size: $font-size_display;
  }
}

h2 {
  font-family: $font_substitute;
  font-weight: $font-weight_normal;
  font-size: $font-size_heading-large;
}

h3 {
  font-family: $font_substitute;
  font-weight: $font-weight_normal;
  font-size: $font-size_heading-normal;
}

h4 {
  font-family: $font_substitute;
  font-weight: $font-weight_normal;
  font-size: $font-size_heading-small;
}

h5 {
  font-family: $font_substitute;
  font-weight: $font-weight_normal;
  font-size: $font-size_heading-tiny;
}

h6 {
  font-family: $font_substitute;
  font-weight: $font-weight_normal;
  font-size: $font-size_heading-tiny;
  text-transform: uppercase;
}

p,
a,
span {
  font-family: $font_substitute;
  font-weight: $font-weight_normal;
  font-size: $font-size_main;
}
